
{% extends 'myadmin/layouts/base.html' %}
{% load static %}
{% block title %} Offer Module {% endblock title %}

{% block content %}

  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Offer Module </h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
              
                <li class="breadcrumb-item active" aria-current="page">Offer Management</li>
              </ol>
            </nav>
          </div>
          <div class="col-lg-6 col-5 text-right">
            <a href="{% url "add_product_offer" %}" class="btn btn-sm btn-neutral">Add Product Offer</a>
           
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="card-header border-0">
            <h3 class="mb-0">Offers</h3>
          </div>
          <!-- Light table -->
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col" class="sort" data-sort="name">Category/Product</th>
                  <th scope="col" class="sort" data-sort="budget">Valid From</th>
                  <th scope="col" class="sort" data-sort="status">Expiry</th>

                  <th scope="col" class="sort" data-sort="completion">Discount %</th>
                  <th scope="col" class="sort" data-sort="completion">Is Active</th>

                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody class="list">
          {% for offer in all_offers %} 
                <tr>
                  <th scope="row">
                    <div class="media align-items-center">
                      <a href="#" class="avatar rounded-circle mr-3">
                        <img alt="Image placeholder" src="{% static '/assets/img/theme/bootstrap.jpg' %}">
                      </a>
                      <div class="media-body">
                      
                        <span class="name mb-0 text-sm">{{offer.product}}</span>
                      </a>
                      </div>
                    </div>
                  </th>
                  <td class="budget">
                    {{offer.valid_from}}
                  </td>
                  <td class="budget">
                    {{offer.valid_until}}
                  </td>
                  
                  <td class="budget">
                    {{offer.discount}}
                  </td>
                  <td class="budget">
                   {{offer.is_active}}
                  </td>
                  
                 
                  <td class="budget">
                    <a href="{% url 'delete_product_offer' offer.id %}" onclick="return confirm('Are you sure you want to delete this offer?');">Delete</a>
                  </td>
                  </tr>
                {% endfor %}
              </tbody> 
            </table>
          </div>
          <!-- Card footer -->
          <div class="card-footer py-4">
            <nav aria-label="...">
              <ul class="pagination justify-content-end mb-0">
                
                
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
       {% include "includes/footer.html" %}

  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
