
{% extends 'myadmin/layouts/base.html' %}
{% load static %}
{% block title %} Tables {% endblock title %}

{% block content %}

  <div class="header bg-primary pb-6">
    <div class="container-fluid">
      <div class="header-body">
        <div class="row align-items-center py-4">
          <div class="col-lg-6 col-7">
            <h6 class="h2 text-white d-inline-block mb-0">Users</h6>
            <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
              <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
              
                <li class="breadcrumb-item active" aria-current="page">Users</li>
              </ol>
            </nav>
          </div>
          <div class="col-lg-6 col-5 text-right">
            <a href="{% url "add_user" %}" class="btn btn-sm btn-neutral">Add User</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Page content -->
  <div class="container-fluid mt--6">
    <div class="row">
      <div class="col">
        <div class="card">
          <!-- Card header -->
          <div class="card-header border-0">
            <h3 class="mb-0">Users</h3>
          </div>
          <!-- Light table -->
          <div class="table-responsive">
            <table class="table align-items-center table-flush">
              <thead class="thead-light">
                <tr>
                  <th scope="col" class="sort" data-sort="name">Email</th>
                  <th scope="col" class="sort" data-sort="budget">First Name</th>
                  <th scope="col" class="sort" data-sort="status">Last Name</th>
                  <th scope="col">Username</th>
                  <th scope="col" class="sort" data-sort="completion">Last Login</th>
                  <th scope="col" class="sort" data-sort="completion">Is active</th>

                  <th scope="col"></th>
                </tr>
              </thead>
              <tbody class="list">
                {% for user in user %}
                <tr>
                  <th scope="row">
                    <div class="media align-items-center">
                      <a href="#" class="avatar rounded-circle mr-3">
                        <img alt="Image placeholder" src="{% static '/assets/img/theme/bootstrap.jpg' %}">
                      </a>
                      <div class="media-body">
                        <a href="{% url 'edit_user' user_id=user.id %}" >
                        <span class="name mb-0 text-sm">{{user.email}}</span>
                      </a>
                      </div>
                    </div>
                  </th>
                  <td class="budget">
                    {{user.first_name}}
                  </td>
                  <td class="budget">
                    {{user.last_name}}
                  </td>
                  
                  <td class="budget">
                    {{user.username}}
                  </td>
                  
                  <td class="budget">
                    {{user.last_login}}
                  </td>
                   
                  <td class="budget">
                    {% if user.is_active %}
                      Active
                    {% else %}
                      Not Active
                    {%endif%}
                  </td>
                  <td>
                    <a href="{% url 'toggle_user_activation' user.id %}">
                        {% if user.is_active %}
                        <button type="button" class="btn btn-danger">Block</button>
                        {% else %}
                        <button type="button" class="btn btn-success">Unblock</button>
                        {% endif %}
                    </a>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <!-- Card footer -->
          <div class="card-footer py-4">
            <nav aria-label="...">
              <ul class="pagination justify-content-end mb-0">
                <li class="page-item disabled">
                  <a class="page-link" href="#" tabindex="-1">
                    <i class="fas fa-angle-left"></i>
                    <span class="sr-only">Previous</span>
                  </a>
                </li>
                <li class="page-item active">
                  <a class="page-link" href="#">1</a>
                </li>
                <li class="page-item">
                  <a class="page-link" href="#">2 <span class="sr-onl 
                </li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                  <a class="page-link" href="#">
                    <i class="fas fa-angle-right"></i>
                    <span class="sr-only">Next</span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </div>
       {% include "includes/footer.html" %}

  </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
