{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">  
        <div class="col-md-8">
            <div class="card">
                <div class="card-header">Order Placed</div>

                <div class="card-body text-center">
                    <h5>Your order has been successfully placed!</h5>
                    
                    <p>Thank you for shopping with us. Your order is being processed.</p>

                </div>
            </div>  
        </div>
    </div>
</div>
{% endblock %}
