{% extends "base.html" %}
{% load static %}

{% block content %}
<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y bg">

    <div class="container">
        <div class="row">
            <!-- SIDEBAR -->
            {% include 'includes/dashboard_sidebar.html' %} 
            <div class="col-md-9">
                <h2 class="section-title">Change Password</h2>
                
                <form action = "{% url "change_password" %}" method = 'POST'>
                    {% csrf_token %}
                    {% include "includes/alerts.html" %}
                      <div class="form-group">
                         <input type="password" class="form-control" placeholder="Current Password" name = "current_password">
                      </div> <!-- form-group// -->
                      <div class="form-group">
                        <input type="password" class="form-control" placeholder="New Password" name = "new_password" >
                      </div> <!-- form-group// -->
                      <div class="form-group">
                          <button type="submit" class="btn btn-primary btn-block"> Change  </button>
                      </div> <!-- form-group// -->    
                  </form>
            </div>
        </div> <!-- row.// -->
    </div>
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->
{% endblock content %}
